@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS or as inline styles for the login component */
@keyframes float {
    0% {
      transform: translateY(0) translateX(0);
    }
    50% {
      transform: translateY(-20px) translateX(20px);
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }
  
 
  
  .bubble {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    animation: float 5s ease-in-out infinite;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  
  .bubble:nth-child(1) {
    top: 20%;
    left: 10%;
    animation-duration: 4s;
  }
  
  .bubble:nth-child(2) {
    top: 30%;
    left: 50%;
    width: 80px;
    height: 80px;
    animation-duration: 6s;
  }
  
  .bubble:nth-child(3) {
    top: 70%;
    left: 30%;
    width: 100px;
    height: 100px;
    animation-duration: 8s;
  }
  
  .relative {
    position: relative;
  }
  
  .dropdown-right {
    position: absolute;
    top: 100%; /* Position it below the input field */
    left: 100%; /* Position it to the right of the input field */
    width: 200px; /* Set a specific width */
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10; /* Make sure it stays on top */
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Add scrolling if the list is too long */
  }
  